<div class="homePageComponent w-full h-full flex flex-col overflow-y-hidden">

  <button (click)="logoutButtonClicked()" class="bg-white text-customizeGreen w-fit flex items-center justify-between gap-1 self-end py-2 px-3 rounded-md my-2 mx-3">
    <img src="assets/icons/logoutIcon.svg" alt="logoutIcon">
    <span>Logout</span>
  </button>

  <div class="flex justify-center items-center grow sm:p-3 overflow-y-hidden">

    <div class="dashboad relative flex w-full h-full max-w-[1000px] sm:static overflow-y-hidden">

      <lists
        [class.visibleSidebar]="showHiddenSidebar"
        class="sidebar absolute z-10 h-full bg-white py-4 pl-4 rounded-l-lg sm:w-1/5 sm:static sm:rounded-l-lg md:py-6 md:pl-6 lg:py-8 lg:pl-8"
        #listsComponent
        (noteIconClicked)="noteIconClicked()"
        [listsArray]="listsArray"
      ></lists>

      <tasks
        class="bg-customizeLight flex grow p-4 md:p-6 lg:p-8 rounded-r-lg sm:rounded-r-lg overflow-y-hidden"
        #tasksComponent
        [listsComponent]="listsComponent"
        [tasksArray]="tasksArray"
        [listId]="listId"
      ></tasks>

    </div>

  </div>

</div>
