<div class="notFoundComponent">

  <section class="bg-white">

    <div class="container min-h-screen px-6 py-12 mx-auto lg:flex lg:items-center lg:gap-12">

      <div class="wf-ull lg:w-1/2">
          <p class="text-sm font-medium text-customizeGreen">404 error</p>
          <h1 class="mt-3 text-2xl font-semibold text-gray-800 md:text-3xl">Page not found</h1>
          <p class="mt-4 text-gray-500">Sorry, the page you are looking for doesn't exist.</p>

          <button routerLink="/" class="mt-6 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-customizeGreen rounded-lg sm:w-auto hover:bg-customizeDarkGreen">
              Take me home
          </button>

      </div>

      <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
        <img class="w-full max-w-lg lg:mx-auto" src="assets/images/404Image.svg" alt="">
      </div>

    </div>

  </section>

</div>



<!--
  IMPO:

    what this are for 'rtl:rotate-180', they may help us.

    transition-colors duration-200
 -->
