<header>
  <nav class="flex justify-end items-center">

    <!-- <redirect-button
      buttonText="Demo"
      buttonImageUrl="/assets/icons/youtubeIcon.svg"
      buttonDescription="Youtube Icon."
      (btnClicked)="visitLink('Test')" 
    /> -->

    <redirect-button
      buttonText="Source"
      buttonImageUrl="/assets/icons/githubIcon.svg"
      buttonDescription="Github Icon."
      (btnClicked)="visitLink('https://github.com/ahmad-ben/TaskManagerApp-Frontend-')" 
    />

    <redirect-button
      buttonText="Profile"
      buttonImageUrl="/assets/icons/linkedinIcon.svg"
      buttonDescription="LinkedIn Icon."
      (btnClicked)="visitLink('https://www.linkedin.com/in/ahmedbenchakhter/')" 
    />

    <redirect-button
      buttonText="Logout"
      buttonImageUrl="assets/icons/logoutIcon.svg"
      buttonDescription="logout Icon"
      (btnClicked)="logoutButtonClicked()" 
    />

  </nav>
</header>
