<add-edit-layout>
    <h1 class="title mb-5">
      Edit the list.
    </h1>

    <form #editedListForm="ngForm" (ngSubmit)="editList(editedListForm)">

      <div class="inputField mb-3">

        <input
          type="text"
          name="editedListName" [(ngModel)]="inputValue" #inputControlState="ngModel"
          class="inputStyle" #input
          placeholder="Write list title..."
          required minlength="1" maxlength="50" checkWhiteSpace
        >

        <div class="errorMessages" *ngIf="inputControlState.invalid && (inputControlState.dirty || inputControlState.touched || buttonClicked)">

          <span *ngIf="inputControlState.errors?.['required']">
            The edited Name of the list is required.
          </span>

          <span *ngIf="inputControlState.errors?.['minlength']">
            The edited Name of the list must be at least 1 characters long.
          </span>

          <span *ngIf="inputControlState.errors?.['maxlength']">
            The edited Name of the list must be at max 50 characters long.
          </span>

          <span *ngIf="inputControlState.errors?.['whiteSpace']">
            Input cannot consist of only spaces.
          </span>

        </div>

      </div>

      <div class="buttons flex justify-end items-center">

        <cancel-button 
          path="/homePage/lists/{{ listId }}" 
          [isProcessing]="isProcessing"
          [isCanceling]="isCanceling"
          (cancel)="isCanceling = true"
        />

        <change-button 
          buttonAction="Edit" 
          [isProcessing]="isProcessing"
          [isCanceling]="isCanceling" 
          [invalidInputVal]="inputControlState.invalid" 
        />

      </div>

      <div class="errorMessages text-right" *ngIf="errorMessage && inputControlState.invalid" > {{ errorMessage }} </div>

    </form>
</add-edit-layout>