<div class="h-full">
  <div class="h-full md:max-w-4xl lg:max-w-6xl  m-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<ngx-spinner
  bdColor = "hsl(0, 0%, 97%, .5)"
  size = "medium" color = "hsl(162, 69%, 50%)"
  type = "square-jelly-box"
  [fullScreen] = "true"
  [disableAnimation]="true"
>
  <p style="color: hsl(162, 69%, 50%)" >
    Loading...
  </p>
</ngx-spinner>

<ngx-spinner
  bdColor = "hsl(0, 0%, 97%, .5)"
  size = "medium" color = "hsl(162, 69%, 50%)"
  type = "square-jelly-box"
  [fullScreen] = "true"
  [disableAnimation]="true"
  name="getLists"
>
  <p style="color: hsl(162, 69%, 50%)" >
    Loading...
  </p>
</ngx-spinner>

<ngx-spinner
  bdColor = "hsl(0, 0%, 97%, .5)"
  size = "medium" color = "hsl(162, 69%, 50%)"
  type = "square-jelly-box"
  [fullScreen] = "true"
  [disableAnimation]="true"
  name="getListsAndTasks"
>
  <p style="color: hsl(162, 69%, 50%)" >
    Loading...
  </p>
</ngx-spinner>

<ngx-spinner
  bdColor = "hsl(0, 0%, 97%, .5)"
  size = "medium" color = "hsl(162, 69%, 50%)"
  type = "square-jelly-box"
  [fullScreen] = "true"
  [disableAnimation]="true"
  name="editTask"
>
  <p style="color: hsl(162, 69%, 50%)" >
    Loading...
  </p>
</ngx-spinner>