.activeList{
  background-color: hsl(0, 0%, 97%);
}
.taskDescription{
  transition: box-shadow .2s ease, scale .2s ease;
  &:not(.completed){
    cursor: pointer;
    &:hover{
      box-shadow: 0px 2px 2px 2px #eee;
    }
    &:active{
      scale: .95;
    }
  }
  &.completed{
    text-decoration: line-through;
    opacity: .75;
  }

}

.hidden{
  display: none;
}

.dropDown{
  right: 0%;
  top: calc(100% + 5px);
}

.dropDownButton{
  width: 55px;
  height: 35px;
}

.taskIcon{
  transition: .3s;
  &.hiddenTaskIcon{
    scale: .5;
    opacity: 0;
  }
}

.settingIcon{
  transition: .25s;
  &.active{
    rotate: 180deg;
  }
}

.sidebar{
  width: 220px;
  left: calc(-220px);
  transition: .25s;
  &.visibleSidebar{
    left: 0;
  }
}

.listIconHolder{
  animation-name: lighten;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes lighten {
  from { opacity: 75% }
  to { opacity: 100% }
}
