<div class="taskViewComponent w-full h-full flex flex-col overflow-y-hidden">

  <button (click)="logoutButtonClicked()" class="bg-white text-customizeGreen w-fit flex items-center justify-between gap-1 self-end py-2 px-3 rounded-md my-2 mx-3">
    <img src="assets/icons/logoutIcon.svg" alt="logoutIcon">
    <span>Logout</span>
  </button>

  <div class="flex justify-center items-center grow sm:p-3 overflow-y-hidden">

    <div class="dashboad relative flex w-full h-full max-w-[1000px] sm:static overflow-y-hidden">

      <nav [class.visibleSidebar]="showHiddenSidebar" class="sidebar absolute z-10 h-full flex flex-col bg-white py-4 pl-4 rounded-l-lg sm:w-1/5 sm:static sm:rounded-l-lg md:py-6 md:pl-6 lg:py-8 lg:pl-8">

        <h1 class="text-customizeGreen">
          Lists
        </h1>

        <ul class="listsMenu flex flex-col mt-[15px] grow overflow-y-auto pr-4 md:pr-6 lg:pr-8">
          <a *ngFor="let list of listsArray" [routerLinkActive]="'activeList'" routerLink="/lists/{{list._id}}" class="taskHeader flex active items-center py-[10px] rounded-[5px] w-full text-[#5f5f5f] mb-[5px] px-[15px] hover:bg-customizeLight cursor-pointer active:bg-[#cff8ef] active:text-customizeDarkGreen">
            <p>
              {{ list.title }}
            </p>
          </a>
        </ul>

        <button class="bg-customizeGreen p-2 rounded-lg cursor-pointer text-white disabled:p-11 mr-4 md:mr-6 lg:mr-8" routerLink="/newList">
          + New List
        </button>

        <div class="listIconHolder flex items-center justify-center absolute left-full top-8 bg-white min-w-[40px] h-10 min-h-[40px] p-2 cursor-pointer sm:hidden" (click)="noteIconClicked()">
          <img class="listIcon w-full" src="assets/icons/noteIcon.svg" alt="noteIcon">
        </div>

      </nav>

      <main class="bg-customizeLight flex grow flex-col p-4 md:p-6 lg:p-8 rounded-r-lg sm:rounded-r-lg overflow-y-hidden">

        <h3 class="noListSelected text-xl text-center text-[#777]" *ngIf="!tasksArray">
          <ng-container *ngIf="!isMobile; else isNotMobile">
            Please select a list from the sidebar or create new one.
          </ng-container>
          <ng-template #isNotMobile>
            Press the note icon to select a list or create new one.
          </ng-template>
        </h3>

        <div class="noTasksInTheList grow flex flex-col gap-2 text-xl text-center text-[#777]" *ngIf="tasksArray && tasksArray.length == 0">
          <header class="flex items-center justify-between relative gap-1">
            <h1 class="text-customizeGreen">
              Tasks
            </h1>

            <button (click)="dropdownVisibilityToggle()" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="dropDownButton flex justify-center items-center rounded-md px-3 py-1.5 border border-customizeGreen hover:shadow-md shadow-customizeLightGreen">
              <img [class.active]="dropdownVisibility" class="settingIcon" src="assets/icons/settingIcon.svg" alt="settingIcon">
            </button>

            <div id="dropdown" [class.hidden]="!dropdownVisibility" class="dropDown z-10 bg-white divide-y divide-gray-100 rounded-lg shadow absolute w-28">
                <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
                  <li class="cursor-pointer" routerLink="/lists/{{ listId }}/editList">
                    <p class="px-4 py-2 hover:bg-gray-100">Edit list</p>
                  </li>
                  <li class="cursor-pointer" (click)="deleteList()">
                    <p class="px-4 py-2 hover:bg-gray-100">Delete list</p>
                  </li>
                </ul>
            </div>


          </header>

          <h3 class="noTaskInSelectedList grow text-xl text-center text-[#777]">There are no tasks here, click the add button to create new task.</h3>


          <button class="bg-customizeGreen text-lg rounded-full p-2 w-10 min-w-[40px] h-10 min-h-[40px] flex justify-center items-center cursor-pointer text-white self-end" *ngIf="tasksArray && tasksArray.length == 0" routerLink="/lists/{{listId}}/newTask">
            <img class="w-[75%] h-[75%]" src="assets/icons/plusIcon.svg" alt="addIcon">
          </button>
        </div>

        <div class="flex grow flex-col gap-2 overflow-y-hidden" *ngIf="tasksArray && tasksArray.length > 0">
          <header class="flex items-center justify-between relative gap-1">
            <h1 class="text-customizeGreen">
              Tasks
            </h1>

            <button (click)="dropdownVisibilityToggle()" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="dropDownButton flex justify-center items-center rounded-md px-3 py-1.5 border border-customizeGreen hover:shadow-md shadow-customizeLightGreen">
              <img [class.active]="dropdownVisibility" class="settingIcon" src="assets/icons/settingIcon.svg" alt="settingIcon">
            </button>

            <div id="dropdown" [class.hidden]="!dropdownVisibility" class="dropDown z-10 bg-white divide-y divide-gray-100 rounded-lg shadow absolute w-28">
                <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
                  <li class="cursor-pointer" routerLink="/lists/{{listId}}/editList" >
                    <p class="px-4 py-2 hover:bg-gray-100">Edit list</p>
                  </li>
                  <li class="cursor-pointer" (click)="deleteList()">
                    <p class="px-4 py-2 hover:bg-gray-100">Delete list</p>
                  </li>
                </ul>
            </div>

          </header>


          <ul class="tasksMenu flex flex-col gap-2 grow disabled:p-10 overflow-y-auto">
            <li #taskLi [class.completed]="taskObj.completed" *ngFor="let taskObj of tasksArray" class="taskDescription bg-white py-2 px-2.5 rounded-md flex items-center gap-2 lg:py-4 lg:px-5">
              <p class="grow" (click)="taskClicked(taskObj)">{{ taskObj.title }}</p>
              <img class="taskIcon p-1 border border-customizeGreen rounded w-8 h-8" [class.hiddenTaskIcon]="taskObj.completed" [routerLink]="'/lists/'+ listId + '/tasks/' + taskObj._id + '/editTask'" src="assets/icons/editIcon.svg" alt="trashIcon">
              <img class="taskIcon p-1 border border-customizeGreen rounded w-8 h-8" [class.hiddenTaskIcon]="taskObj.completed" (click)="deleteTask($event, taskObj)" src="assets/icons/trashIcon.svg" alt="trashIcon">
            </li>
          </ul>

          <button class="bg-customizeGreen text-lg rounded-full p-2 min-w-[40px] h-10 min-h-[40px] flex justify-center items-center cursor-pointer text-white self-end" routerLink="/lists/{{listId}}/newTask">
            <img class="w-[75%] h-[75%]" src="assets/icons/plusIcon.svg" alt="addIcon">
          </button>
        </div>

      </main>

    </div>

  </div>

</div>


