<div class="listsComponent h-full flex flex-col">

  <h1 class="text-customizeGreen">
    Lists
  </h1>

  <ul *ngIf="listsArray.length > 0" class="listsMenu flex flex-col mt-[15px] grow overflow-y-auto pr-2 md:pr-6 lg:pr-8">
    <a 
      *ngFor="let list of listsArray" 
      [routerLinkActive]="'activeList'" 
      routerLink="/homePage/lists/{{list._id}}" 
      class="
        taskHeader 
        flex active items-center justify-between py-[10px] rounded-[5px] w-full 
        text-[#5f5f5f] mb-[5px] px-[15px] hover:bg-customizeLight 
        cursor-pointer active:bg-[#cff8ef] active:text-customizeDarkGreen
      "
      (click)="onLinkClick(list._id)"
    >
      <p class="listTitle max-w-full">
        {{ list.title }}
      </p>

      <spinner *ngIf="loadingListId === list._id" color="hsl(168, 100%, 20%)" />
    </a>
  </ul>

  <div *ngIf="listsArray.length == 0" class="noList grow text-xl text-[#777] tracking-wide flex justify-center items-center pr-4 md:pr-6 lg:pr-8">
    No lists yet, add a list first.
  </div>

  <button class="bg-customizeGreen p-2 rounded-lg cursor-pointer text-white mr-4 md:mr-6 lg:mr-8" routerLink="/newList">
    + New List
  </button>

  <div class="listIconHolder flex items-center justify-center absolute left-full top-8 bg-white min-w-[40px] h-10 min-h-[40px] p-2 cursor-pointer sm:hidden" (click)="noteIconClicked()">
    <img class="listIcon w-full" src="assets/icons/noteIcon.svg" alt="noteIcon">
  </div>

</div>
