@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

$turquoise: hsl(175, 69%, 57%);

$green: hsl(162, 69%, 50%);

$light-green: hsl(149, 91%, 62%);

$dark-green: hsl(168, 100%, 20%);

$light: hsl(0, 0%, 97%);

body{
  font-family: "Nunito", sans-serif;
}

html{
  background: linear-gradient(to right top, $turquoise, $green);
}

html, body{
  height: 100%;
}

h1{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $turquoise;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: $green;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar { width: 4px; }
}


button.invalidInputState{
  background-color: grey;
  cursor: no-drop;
}

.errorMessages{
  color: #c91313;
}

.inputStyle{
  display: block;
  width: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.5rem;
  background-color: $light;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $dark-green;
  border-radius: 0.5rem;
  border-width: 2px;
  &:focus{
    border-color: $green;
  }
}

.ngx-toastr.toast-warning{
  width: min(50%, 500px);
  margin-left: auto;
}

.spinner{
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-color: $dark-green transparent $dark-green transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}